#email_offers{
	background-color: chocolate;
}

#orders{
	background-color: chocolate;
}

#contact_us{
	text-align: center;
}

p,
h4,	
#specials{
	text-align: center
}

p,
h4,	
#news_events{
	text-align: center
}